<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sunning.democollection">


    <application
        android:name=".AndroidApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--主题(Theme)-->
        <!--一级分类-->
        <activity
            android:name=".theme.ThemeActivity"
            android:label="@string/theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.demo.example" />
            </intent-filter>
        </activity>

        <!--自定义View-->
        <!--一级分类-->
        <activity
            android:name=".custom.CustomActivity"
            android:label="@string/custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.demo.example" />
            </intent-filter>
        </activity>

        <!--二级分类-->

        <!--主题(Theme)结束-->


        <!--===================================华丽的分割线==============================================-->

        <!--动画(Animation)-->
        <!--一级分类-->
        <activity
            android:name=".animation.AnimationActivity"
            android:label="@string/animation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.demo.example" />
            </intent-filter>
        </activity>

        <!--动画二级分类-->
        <activity
            android:name=".animation.sandbox.BaseActivity"
            android:label="MaterialTransitions Material 风格的过渡动画效果">
            <category android:name="com.demo.view" />
        </activity>

        <!--动画(Animation)结束-->

        <!--===================================华丽的分割线==============================================-->


        <!--图标(Chart)-->
        <!--一级分类-->
        <activity
            android:name=".chart.ChartActivity"
            android:label="@string/chart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.demo.example" />
            </intent-filter>
        </activity>

        <!--二级分类-->

        <!--图标(Chart) 结束-->


        <!--===================================华丽的分割线==============================================-->


        <!--字体(Font)-->
        <!--一级分类-->
        <activity
            android:name=".font.FontActivity"
            android:label="@string/font">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.demo.example" />
            </intent-filter>
        </activity>

        <!--二级分类-->

        <!--字体(Font)-->

        <!--===================================华丽的分割线==============================================-->

        <!--绘图(drawing)-->
        <!--一级分类-->
        <activity
            android:name=".draw.DrawActivity"
            android:label="@string/Drawing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.demo.example" />
            </intent-filter>
        </activity>


        <activity
            android:name=".draw.iconfont.IconFontActivity"
            android:label="iconFont">
            <category android:name="com.demo.view" />
        </activity>


        <!--===================================华丽的分割线==============================================-->

        <!--DesignActivity-->
        <!--一级分类-->
        <activity
            android:name=".design.DesignActivity"
            android:label="@string/DesignActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.demo.example" />
            </intent-filter>
        </activity>

        <activity
            android:name=".design.snackbar.SnackbarActivity"
            android:label="snackBar">
            <category android:name="com.demo.view" />
        </activity>

        <activity
            android:name=".design.textinput.TextInputActivity"
            android:label="TextInputLayout">
            <category android:name="com.demo.view" />
        </activity>

        <activity
            android:name=".design.nav.NavigationViewActivity"
            android:label="NavigationViewActivity">
            <category android:name="com.demo.view" />
        </activity>

        <activity
            android:name=".design.nav.CheeseDetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--view(view)-->
        <activity
            android:name=".custom.view.ViewActivity"
            android:label="@string/view"></activity>
        <!--view(view)-->
        <activity
            android:name=".custom.viewgroup.ViewGroupActivity"
            android:label="@string/view"></activity>
        <activity
            android:name="sunning.democollection.custom.coordinate.CoordinateActivity"
            android:label="@string/view"></activity>

        <!--二级分类-->
        <!--动画二级分类-->
        <activity
            android:name=".custom.view.tableviewexample.MainActivity"
            android:label="SortableTableView可以排序和定制的TableView">
            <category android:name="com.demo.view" />
        </activity>

        <activity
            android:name=".custom.view.timer.TimerActivity"
            android:label="倒计时">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".custom.view.parent.Text2Parent"
            android:label="测试viewParentRemove">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".custom.view.smoothcb.SmoothActivity"
            android:label="SmoothCheckBox">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".custom.view.parent.Text1Parent"
            android:label="测试viewParentRemove">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".custom.viewgroup.first.MyViewGroupActivity"
            android:label="自定义的ViewGroup">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".custom.viewgroup.flowlayout.FlowActivity"
            android:label="自定义的FlowActivity">
            <category android:name="com.demo.view" />
        </activity>



        <!--===================================华丽的分割线==============================================-->


        <!--Learn-->
        <activity
            android:name=".learn._0506mvp_dagger2.LearnActivity"
            android:label="@string/Learn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.demo.example" />
            </intent-filter>
        </activity>


        <activity
            android:name=".learn._0301._Learn0301Activity"
            android:label="事件体系">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0306.ScrollActivity"
            android:label="Scroll">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0316.TestActivity"
            android:label="testTextView max line">
            <category android:name="com.demo.view" />
        </activity>

        <activity
            android:name=".learn._0316.ViewDragHelperActivity"
            android:label="ViewDragHelper 的演示">
            <category android:name="com.demo.view" />
        </activity>

        <activity
            android:name=".learn._0318.DataBindingActivity"
            android:label="binding的演示">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0331.UserActivity"
            android:label="dagger2">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0421.ProgramerActivity"
            android:label="dagger2">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0429.Dagger2FinalDemo"
            android:label="Dagger2FinalDemo">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0504.RxJavaDemo"
            android:label="RXJava">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0506.RxJavaExample"
            android:label="RxJavaExample">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0506mvp.MvpActivity"
            android:label="MVP">
            <category android:name="com.demo.view" />
        </activity>
        <activity
            android:name=".learn._0506mvp_dagger2.MvpActivity"
            android:label="MVP+Dagger2">
            <category android:name="com.demo.view" />
        </activity>

        <!--Learn End-->

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

</manifest>
